<div class="well task-row btn-default" tabindex="0" (click)="selectTask(taskId)" >
    <div class="row">
        <input type="text" #taskId [value]=task.id [hidden]=true/>
        <div class="col-md-1">
            <span [class]="task.type | typePipe"></span>
        </div>
        <div class="col-md-1">
            <span>{{task.type}}</span>
        </div>
        <div class="col-md-1 text-center">
            <span>{{task.technology}}</span>
        </div>
        <div class="col-md-4">
            <span>{{task.description}}</span>
        </div>
        <div class="col-md-1 text-center">
            <div class="priorityTooltip" [matTooltip]="task.priority | priorityNamePipe" [matTooltipPosition]="tooltipPosition">
                <span [class]="task.priority | priorityPipe"></span>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <span>{{task.creationDate | date:'mediumDate'}}</span>
        </div>
        <div class="col-md-2 text-center">
            <span>{{task.status}}</span>
        </div>
    </div>
</div>