<div class="container">
    <h1>
        {{title}}
    </h1>
    <div class="row">
        <div class="col-md-7 text-right"></div>
        <div class="col-md-3 text-right form-group">
            <select formControlName="sort" class="form-control" #selected (change)="sortTasks(selected.value)">
                <option value="creationDate">Sort by creation date</option>
                <option value="priority">Sort by priority</option>
            </select>
        </div>
        <div class="col-md-2 text-right" style="display: inline-grid;">
            <button class="btn btn-default">Add new task</button>
        </div>
    </div>

    <app-task-list-head [tasks]=tasks></app-task-list-head>
    <div *ngFor="let task of tasks" [routerLink]="[]">
    <!-- <div *ngFor="let task of tasks"> -->
        <app-task-summary [task]=task></app-task-summary>
    </div>
</div>