<div class="row">
    <div class="col-md-12">
        <h5>Number of elements: {{tasks.length}}</h5>
    </div>
    <div class="col-md-1">
        <label>Tasks</label>
    </div>
    <div class="col-md-1">
        <label>Type</label>
    </div>
    <div class="col-md-1 text-center">
        <label>Category</label>
    </div>
    <div class="col-md-4 text-center">
        <label>Summary</label>
    </div>
    <div class="col-md-1 text-center">
        <label>Priority</label>
    </div>
    <div class="col-md-2 text-center">
        <label>Creation Date</label>
    </div>
    <div class="col-md-2 text-center">
        <label>Status</label>
    </div>
</div>