<span>Number of elements: {{tasks.length}}</span>
<div class="row">
    <div class="col-md-1 text-center">
        <label>Type:</label>
    </div>
    <div class="col-md-1">
        <label></label>
    </div>
    <div class="col-md-1">
        <label>Category:</label>
    </div>
    <div class="col-md-4 text-center">
        <label>Summary:</label>
    </div>
    <div class="col-md-1">
        <label>Priority:</label>
    </div>
    <div class="col-md-2">
        <label>Creation Date:</label>
    </div>
    <div class="col-md-2">
        <label>Status:</label>
    </div>
</div>